.App {
  text-align: center;
  color: #A5D7E8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Menu-bar {
  float: left;
  background-color: #282c34;
  text-align: center;
  color:aliceblue;
  margin: auto;
  width: 200px;
  height: 200px;
  /* padding: 0.5rem 0rem; */
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

Body {
  background-color: #282c34;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
