.vs/VSWorkspaceState.json
.vs/react-crypto-dash/FileContentIndex/391d144f-c284-41b1-8a36-83d1cb11f165.vsidx
.vs/react-crypto-dash/FileContentIndex/9786561f-7da8-4978-8a4e-bf128ca624be.vsidx
.vs/react-crypto-dash/v17/.suo
