# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
../.vs/react-crypto-dash/FileContentIndex/dab30092-d485-4a15-904e-865089e50b57.vsidx
../.vs/react-crypto-dash/FileContentIndex/dab30092-d485-4a15-904e-865089e50b57.vsidx
../.vs

../.vs/slnx.sqlite
../.vs/VSWorkspaceState.json
